<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
</head>
<body>
<h1 align="center">修改用户</h1>
<table>
<div align="center">
    <form action="http://127.0.0.1:8000/edit_person_post/" method="post">
        <p>
             <input type="hidden" name="id" value="{{ person_obj.id }}">
       </p>
        <p>
            姓名：<input type="text" name="username" value="{{ person_obj.name }}">
        </p>
         <p>
            年龄：<input type="text" name="age" value="{{ person_obj.age }}">
        </p>
        <p>
            <input type="submit" value="确定修改">
        </p>
    </form>
</div>
</table>
</body>
</html>